udo  Prowlarr Configuration
PROWLARR_URL=http://xxx.xxx.xxx.xxx:9696
PROWLARR_API_KEY=eea0d................

# qBittorrent Configuration
QBITTORRENT_URL=http://xxx.xxx.xxx.xxx.xxx:8765
QBITTORRENT_USERNAME=
QBITTORRENT_PASSWORD=

# App Configuration
HOST=0.0.0.0
PORT=8888
