udo  Prowlarr Configuration
PROWLARR_URL=http://100.86.189.13:9696
PROWLARR_API_KEY=eea0dafddf1e40ceb67bacd4ef31fb2f

# qBittorrent Configuration
QBITTORRENT_URL=http://100.86.189.13:8765
QBITTORRENT_USERNAME=ashep
QBITTORRENT_PASSWORD=Mtio1233

# App Configuration
HOST=0.0.0.0
PORT=8888
